{% include 'index.html'%}
{% block content %}
<div class="container">
  {% if booking_confirmed%}
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1 class="alert alert-success"> Your booking has been confirmed.</h1>
        </div>
        <div class="card-text">
          <div class="row">
            <div class="col-md-6">

            {% for i in details.values%}
             <p>Booking ID: {{i.booking_id}}</p>
             <p>Flight ID: {{i.f_id}}</p>
             <p>Online Payment: {{i.payment}}</p>
             <p>No of Passangers: {{i.no_of_pass}}</p>
             <p>No of childrens: {{i.child_pass}}</p>
            {%endfor%}
            </div>
            <div class="col-md-6">
              Total : {{total_fare}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif%}
</div>

{% endblock%}
